# ==== Django ====
*.log
*.pot
*.pyc
/__pycache__/
/db.sqlite3/
/static/
/media/
projet0_1/local_settings.py

# ==== Virtual Environments ====
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ==== Python ====
*.py[cod]
*$py.class
.python-version

# ==== Build / Distribution ====
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# ==== Installer Logs ====
pip-log.txt
pip-delete-this-directory.txt

# ==== Test / Coverage ====
htmlcov/
.tox/
.coverage
.
